<h3>ABOUT</h3>
<section>
  <div class="goals">
    <h4><i>Goals</i></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci asperiores ea exercitationem molestias nemo non nulla officiis placeat quaerat quidem repellat repudiandae suscipit ut, vel! Assumenda dicta illum sed!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa dolor molestiae nihil nulla. Adipisci animi architecto atque beatae consequatur dolores dolorum eaque, et excepturi numquam quidem suscipit veniam vitae.
    </p>
  </div>
  <div class="photo">

  </div>
  <div class="dreams">
    <h4><i>Dreams</i></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cum enim inventore, magnam nostrum quos repellat. Architecto asperiores commodi, culpa cupiditate deleniti ipsa modi sit tempore! Molestias, quia voluptas.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aperiam assumenda atque aut commodi debitis dicta doloribus error eum ex magnam, nihil officiis pariatur perspiciatis placeat quo, rem suscipit? Tempore.
    </p>
  </div>
</section>
<hr>
