<h3>CONTACT</h3>
<form action="/">
  <div class="credintals">
    <p>Phone number:</p>
    <p>+38066-66-66-666</p>
    <p>Email:</p>
    <p>mail@gmail.com</p>
    <p>Skype</p>
    <p>mySkypeAcc</p>
  </div>
  <div class="inputContact">
    <input type="text" name="Name" placeholder="Name" pattern="\w{3,}" title="at least 3 character">
    <input type="email" name="Email" placeholder="E-mail">
    <textarea name="Message" placeholder="Send a message"></textarea>
    <button type="submit">SEND</button>
  </div>
</form>
